.table > tbody > tr > td {
  vertical-align: middle;
}

.main-container {
  /*height: 60px;*/
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*align-items: center;*/
}

.main-container-admin {
  height: 60px;
  /*width: 100%;*/
  /*margin: 30px 0px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

h1.admin {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4.admin {
  margin-top: 0px;
  margin-bottom: 3px;

  &:hover {
    color: @link-hover-color;
  }
}

.container-center {
  display: flex;
  justify-content: space-around;
}


.left-container {
  width: 50%;
  /*padding: 0 25px;*/
}

.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  /*width: inherit;*/
}

.form-resize {
  resize: both;
  overflow: auto;
}

.logIn {
  margin-left:0;
}

.inputQuantity {
  width: 45px;
}

.input-z {
  position: relative;
  z-index: 999;
}

.view {
  margin-top: 65px;
  /*z-index:1;*/
  position: relative;
}

header {
  padding: 7px 0;
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  align-items: center;
  width: 100%;
  position:fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  opacity: 1 !important;
  z-index:999;
}

a {
  font-family: @font-family-sans-serif;
  color: @link-color;
  /*text-decoration: none;*/

  &:hover {
    color: @link-hover-color;
    text-decoration: underline;
  }
}
