
<!-- <section> -->
    <!-- <h2>{{product.product}}</h2> -->


<!-- <div class="container"> -->
<div class="col-xs-12"><img src="{{product.imgurl}}" alt="{{product.product}}" class="img-rounded img-responsive center-block"></div>
<!-- </div> -->
<div class="main-container">
 <!-- align-items-center"> -->
  <div class="left-container">
    <div class="col-xs-12"><h4>{{product.product}}</h4></div>
    <div class="col-xs-12">Price: ${{product.price}}</div>
  </div>
  <div class="right-container">
  <!-- align-items-center"> -->
  <!-- <div class="align-items-center"> -->
      <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
        </a>
  <!-- </div> -->
  </div>
  <div class="line"></div>
  <div class="col-xs-12"><strong>Description:</strong> {{product.description}}</div>
  <!-- <div class="bottom"></div> -->


</div>













    <!-- <div class="col-xs-12"><img src="{{product.imgurl}}" alt="{{product.product}}" class="img-rounded img-responsive center-block"></div>


    <div class="column">
        <div class="col-xs-6"><h3>{{product.product}}</h3></div>
        <div class="col-xs-6">Price: ${{product.price}}</div>
    </div>
        <a href="#" class="btn btn-info btn-md align-items-center">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
        </a>

      <div class="col-xs-12">{{product.description}}</div> -->

    <!-- </div> -->

      <!-- <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div> -->
    <!-- </div> -->
    <!-- <kbd>asdsad</kbd>
    <code>asdasd</code>
    <var>y</var> = <var>m</var><var>x</var> + <var>b</var> -->

    <!--The ui-sref should be pointing to the packages state -->
    <!-- <button ui-sref="packages"> VIEW MORE PACKAGES </button> -->
<!-- </section>
